html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.ps-blue {
  color: rgb(43, 127, 226);
}

.ps-blue-light {
  color: rgba(43, 127, 226, 0.75);
}

.add-game-btn {
  background-color: rgb(43, 127, 226)!important;
  color: white!important;
  margin: 0 15px 0 0;
}

.add-game-btn:hover,
.add-game-btn:focus {
  background-color: rgb(27, 109, 206) !important;
}

.desc-btn {
  background-color: rgb(109, 117, 127)!important;
  color: white!important;
  margin: 0 15px 0 0;
}

.desc-btn:hover {
  background-color: rgb(89, 101, 115)!important;
}

.game-desc {

}